.App {
  text-align: center;
  color: white;
  background: linear-gradient(to bottom right, #a3c9f1, #3a6186);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.highlight {
  color: #FFD700;
}
